:root {
    --bg: linear-gradient(90deg, #3142df, #0699c2);
}
body {
    background-color: #262635;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(241, 239, 239);
}

.dashboard-header {
    border-radius: 16px; padding: 12px 20px; z-index: 1;
    box-shadow: 0 2px 8px rgba(255, 255, 255, 0.1); height: 90px;
    overflow: visible; display: flex; align-items: center;
    background: linear-gradient(90deg, #2c5364, #203a43, #0f2027);
}

.header-left {
    display: flex; align-items: center; gap: 5px;
    flex-direction: column; justify-content: center;
}
.header-left img {
    width: 80px; height: 80px;
}

.header-middle {
    flex: 1; justify-content: center; text-align: center;
}
.header-middle h1 {
    margin: 0; font-size: 38px; 
    background: linear-gradient(90deg, #ff7300, #bbff00);
    background-clip: text; -webkit-text-fill-color: transparent;
}

.header-right { position: relative; }

.header-right img {
    width: 60px; height: 60px; cursor: pointer;
}

h3 {
    font-size: 20px; margin: 0; text-align: center;
    background: linear-gradient(90deg, #0072ff, #00c6ff);
    background-clip: text; -webkit-text-fill-color: transparent;
}

.menu-container {
    position: absolute; top: 60px; right: 0; z-index: 1000;
    border: 1px solid #ddd; display: none; font-size: 19px;
    flex-direction: column; align-items: left; cursor: pointer;
    border-radius: 8px; padding: 10px 14px; width: 240px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15); background: var(--bg);
}
.menu-item { position: relative; }
.menu-link {
    display: flex; border-radius: 6px; cursor: pointer;
    align-items: center; padding: 10px 14px;
}
.submenu {
    position: absolute; top: 0; right: 100%;
    margin-right: 20px; display: none;
    flex-direction: column;
    width: 200px; background: var(--bg);
    border-radius: 8px; padding: 8px;
}
.menu-item.active > .submenu { display: flex; }
.submenu-item {
    padding: 8px; cursor: pointer; border-radius: 6px;
    transition: background 0.2s;
}
.submenu-item:hover, .menu-link:hover { background: #0a6397; }

.loading-container {
    position: fixed; top: 0; left: 0; right: 0; bottom: 0;
    display: none; align-items: center; justify-content: center;
    background: rgb(255, 255, 255); z-index: 9999; 
    flex-direction: column;
}
.loading-text {
    margin-top: 20px; font-size: 24px;
    font-family: Arial, sans-serif; white-space: pre-line;
    color: #333; z-index: 9999; text-align: center;
}
.spinner {
    border: 8px solid #f3f3f3; z-index: 9999;
    border-top: 8px solid #3498db;
    border-radius: 50%; width: 60px; height: 60px;
    animation: spin 1s linear infinite;
}
@keyframes spin {
0%   { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

.group-container, .group-container-grid { 
    background: linear-gradient(90deg, #2c5364, #203a43, #235164);
    border: 1px solid #1f2a44; padding: 10px; margin: 10px; 
    border-radius: 20px; backdrop-filter: blur(6px);
    box-shadow: 0 20px 60px rgba(13, 71, 161, 0.35); display: grid;
} 
.group-container-grid { 
    gap: 5px; grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
}
.group-container h3 { margin: 0 0 5px 0; font-size: 18px; color: #184bd6;}

.github-last-update, .project-note {
    position: fixed; font-size: 12px; bottom: 10px; padding: 4px 8px; 
    color: #111111; background: rgba(223, 217, 217, 0.85); z-index: 9999;
    border-radius: 6px; box-shadow: 0 2px 6px rgba(0,0,0,0.15); pointer-events: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.github-last-update { right: 10px; }
.project-note { left: 10px; }

.pm-overlay {
    position: fixed; top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex; align-items: center;
    justify-content: center; z-index: 9999;
}
.pm-modal {
    background: linear-gradient(90deg, #2c5364, #203a43, #4998b9);
    padding: 20px; font-family: sans-serif;
    border-radius: 10px; min-width: 300px; 
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
.pm-modal input {
    width: 100%; padding: 8px; font-size: 14px;
    box-sizing: border-box; margin: 20px 0;
}
.pm-row {
    display: flex; align-items: center;
    gap: 10px; margin: 12px 0px;
}
.pm-row label {
    display: block; font-size: 16px; width: 120px;
}
.pm-row select {
    flex: 1; padding: 3px;
}

.button-grid {
    padding: 10px 20px; font-size: 14px;
    border-radius: 8px; cursor: pointer;
}


.custom-colorbar {
  position: absolute; top: 70px; right: 15px; z-index: 1000; display: none;
}
.colorbar-wrapper {
  display: flex; flex-direction: row; align-items: center; gap: 6px;
  background: rgba(0,0,0,0.6); padding: 8px; border-radius: 6px;
}
.colorbar-title {
  writing-mode: vertical-rl; transform: rotate(180deg); font-size: 15px;
  font-weight: bold; color: white; text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.colorbar-gradient { width: 15px; height: 190px; border: 1px solid #ccc; background: #e0e0e0; }
.colorbar-labels {
  height: 190px; display: flex; flex-direction: column; justify-content: space-between;
  font-size: 15px; color: white; margin-left: 6px; text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
